.EasyMDEContainer {

  .CodeMirror {
  }

  .editor-toolbar {
  }

  .editor-statusbar {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    span {
    }
    .upload-image {
      text-align: left;
      order: 0;
    }
    .autosave {
      order: 1;
    }
    .lines {
      order: 2;
    }
    .words {
      order: 3;
    }
    .cursor {
      order: 4;
    }
  }
}

