.EasyMDEContainer {

  .CodeMirror {
  }

  .editor-toolbar {
  }

  .editor-statusbar {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    .message, .upload-image {
      text-align: left;
      order: 0;
    }
    .countOfRemainingChars {
      order: 1;
    }
  }
}

