div.Popup {
  .Border {
    min-width: 440px;
    width: 440px;
    padding: 0px;
  }
  .Body {
      border-radius: 10px;
      padding: 33px 18px 36px 18px;
      box-shadow: 0 2px 9px 0 rgba(21, 21, 22, 0.15);
  }
  .Content {
    > h1:first-child, h2:first-child, h3:first-child {
      @include barlowcondensed-medium;
      color: $global-color_turquoise !important;
      font-size: $global-popup_title_fontSize;
      font-weight: bold !important;
      line-height: 34px !important;
      text-align: center;
      margin-bottom: 25px;
      text-transform: uppercase;
    }
    .P.Message {
      $font-family: $global-body_fontFamily !important;
      font-size: $global-large_fontSize !important;
      color: $global-color_black_light !important;
      text-align: center;
      margin: 0px;
    }
    .Body {
      a {
        color: $global-blue;

        &:focus,
        &:hover {
          color: $global-blue;
          text-decoration: $theme-link-hover_textDecoration;
        }
      }

      .Buttons .Close {
        &:focus,
        &:hover {
          color: $global-color_white;
        }
      }
    }
  }

  .Footer {
    .Close {
      @if ($staticVariables) {
        @include CloseButton($popup_fg);
      }

      display: none;
      top: 24px;
      right: 28px;
    }
  }

  .Buttons-Confirm {
    margin-top: 26px;
    #Form_OK, .Button.Primary {
      background: $global-color_primary;
      border: 1px solid $global-color_primary;
      color: $global-color_white;
    }
    .Close {
      border: 1px solid $global-color_primary;
      color: $global-color_primary;
    }
    .Button.Primary.Delete{
      background: $global-pink;
      padding: 0px 22px !important;
      border: 1px solid  $global-pink;
      color: #FAFAFB;
    }
  }

}
.InformWrapper {
  margin: 0px;
}
.InformMessages {
  margin-left: 55px;
}

.InformMessages .InformMessage {
   padding: 16px 34px 10px 26px;
   margin: 10px 0px;
   width: 436px;
   max-width: 436px;
}
.InformMessages .InformMessage,
.InformMessages .InformMessage:hover {
  background-color: $global-color_white !important;
  border-radius: 10px;
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.1) !important;
  font-size: $global-medium_fontSize;
  font-family: $global-body_fontFamily;

  a {
    color: $global-blue;
  }

  a.Close {
    top: 16px;
    right: 21px;

    span::after {
      content: "";
      display: inline-block;
      background-size: cover;
      position: absolute;
      height: 12px;
      width: 12px;
      background-image: url("/themes/topcoder/design/images/icon-close-2.svg");
    }
  }
}

.Overlay {
  background: rgba($global-color_black_light, 0.9);
}

@media (max-width: 500px) {
  .InformMessages {
    margin-left: 0px;
  }
  .InformWrapper {
    margin: 5px;
  }
  .InformMessages .InformMessage {
    width: 100%;
    max-width: 100%;
  }
}

