.mobileMeBox-button {
    .PhotoWrap {
        height: 28px;
        width: 28px;

        img {
            height: 28px;
            width: 28px;
        }
    }
}

.mobileMebox {
    .MeMenu {
        justify-content: flex-start;
    }
}
