.BreadcrumbsBox {
  .Breadcrumbs {
    .Crumb {
      font-weight: bold;
      color: $global-color_grey;
      font-size: 18px;
      opacity: 1;
      margin: 0 2px;
    }
    .CrumbLabel {
      a {
        text-decoration: none;
        span {
          color: $global-blue;
          font-size: 14px;
          margin: 0 2px;
          text-transform: capitalize;
        }
      }

      &.Last {
        a {
          text-decoration: none;
          span {
            color: $global-color_grey;
          }
        }
      }
    }
  }
}