.Button.Primary,
.Button,
.Button.Primary.SignInPopup,
.Button.Primary.Action.BigButton {
  font-size: 14px !important;
  font-weight: bold !important;
  letter-spacing: 0.8px !important;
  height: 30px;
  text-transform: uppercase;
  border-radius: 20px !important;
  padding: 0 20px !important;
}


.Button.Primary.SignInPopup {
  background: $global-color_primary;
  border: 1px solid $global-color_primary;
  color: white;
  width: 100%;
}