@media screen and (max-width: 768px) {
  .DataList.CategoryList {
    li.Item {
      .ItemContent.Category {
        .status-container {
          .RSS,
          .DiscussionCount,
          .MiddleDot,
          .CommentCount {
            display: none;
          }
        }

        .view-comment-container {
          .LastDiscussionTitle,
          .LastCommentDate {
            display: none;
          }

          .DiscussionCount {
            position: relative;

            &::after {
              content: none
            }
          }
        }
      }
    }
  }
}
