.hide {
  display: none !important;
}

.flex-1 {
  flex: 1;
}
.flex {
  display: flex;
}

.flex.middle {
  -webkit-align-items: center;
  align-items: center; }

.flex.column {
  flex-direction: column;
}

.flex.left {
  align-items: flex-start;
}

.center-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fill-remaining-space {
  flex: auto;
}

.block {
  clear: both;
  overflow: hidden;
}
.col-span-1 {
  flex-grow: 1;
}

.col-span-2 {
  flex-grow: 2;
}
.flex-grow, .flex-grow-1 {
  flex-grow: 1;
}

@media screen and (max-width: 768px) {
  .hide-mobile {
    display: none !important;
  }
}


@media screen and (min-width: 769px) {
  .hide-desktop {
    display: none !important;
  }
}