.hide {
  display: none !important;
}

.flex-1 {
  flex: 1;
}

.center-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .hide-mobile {
    display: none !important;
  }
}


@media screen and (min-width: 769px) {
  .hide-desktop {
    display: none !important;
  }
}