.DataList.Discussions {
  li.ItemDiscussion {
    border-top: none;
    border-bottom: none;
    background-color: $global-grey-very-dark-bg;
    margin-top: 16px;
    border-radius: 10px;
    padding: 19px 20px 18px 26px;

    .Meta.Meta-Discussion {
      display: flex;
      align-items: center;

      .MItem {
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
      }
    }

    .MItem.Category {
      a {
        color: $global-color_black_light;
      }
    }

    .ItemContent.Discussion {
      .Title {
        margin-bottom: 17px;

        a {
          color: $global-color_black_light;
          font-size: 20px;
          font-weight: 400;
          line-height: 30px;
        }
      }
    }
  }
}

.Empty {
  margin: 10px auto;
  width: auto;
  text-align: center;
  color: $global-color_grey_dark;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.DataList {
  .Meta {
    display: flex;
    align-items: center;

    .MItem {
      font-size: 13px;
      font-weight: 400;
      line-height: 16px;
    }
  }
}

@media screen and (max-width: 768px) {
  .DataList.Discussions {
    li.ItemDiscussion {
      border-top: 1px solid $global-grey-bg;
      background-color: transparent;
      border-radius: 10px;
      padding: 19px 0 18px 0;
      border-radius: 0;
      margin-top: 0;
      position: relative;

      &:first-child {
        border-top: none;
      }

      &:last-child {
        border-bottom: 1px solid $global-grey-bg;
      }

      .Options {
        position: absolute;
        top: 20px;
        right: 0;
      }

      .Meta.Meta-Discussion {
        &.tag-container {
          margin-top: 0;
          margin-left: 0;

          .MItem {
            display: none;
          }

          .Tag {
            margin-bottom: 12px;
          }
        }

        &.status-container {
          .MCount,
          .Tag {
            display: none;
          }

          .MItem.Category {
            position: relative;

            &::before {
              content: "";
              width: 3px;
              height: 3px;
              border-radius: 50%;
              background: $global-color_grey;
              position: absolute;
              display: block;
              left: -7px;
              margin-top: -2px;
              top: 50%;
            }
          }

        }

        &.view-comment-container {
          .MItem:not(.MCount),
          .Tag {
            display: none;
          }

          .MCount {
            position: relative;

            &::after {
              content: "";
              width: 3px;
              height: 3px;
              border-radius: 50%;
              background: $global-color_grey;
              position: absolute;
              display: block;
              right: -8px;
              margin-top: -2px;
              top: 50%;
            }

            &.CommentCount {
              &::after {
                content: none;
              }
            }
          }
        }
      }
    }
  }
}
