.DataList.Discussions {
  li.ItemDiscussion {
    border-top: none;
    border-bottom: none;
    background-color: $global-grey-very-dark-bg;
    margin-top: 16px;
    border-radius: 10px;
    padding: 24px 20px 17px 26px;

    .Meta.Meta-Discussion {
      align-items: center;

      .MItem {
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;

        .HasNew.HasNew {
          font-size: $global-small_fontSize;
          font-family: $global-body_fontFamily;
          text-transform: capitalize;
          background: $global-color_white;
          color: $global-color_black_light;
          border: 1px solid $global-color_black_light;
          margin-bottom: 0px;
        }
      }


    }

    .MItem.Category {
      a {
        color: $global-color_black_light;
      }
    }

    .ItemContent.Discussion {
      .Title {
        margin-bottom: 14px;

        a {
          color: $global-color_black_light;
          font-family: $global-body_fontFamily ;
          font-size: $global-large_fontSize;
          font-weight: bold;
          line-height: 30px;
        }
      }
    }
  }
}

.Empty {
  margin: 10px auto;
  width: auto;
  text-align: center;
  color: $global-color_grey_dark;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.DataList {
  .Meta {
    display: flex;
    align-items: center;

    .MItem {
      font-size: 13px;
      font-weight: 400;
      line-height: 16px;
    }

    .MiddleDot{
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 768px) {
  .DataList.Discussions {
    li.ItemDiscussion {
      border-bottom: none;
      border-top: none;
      background-color: #f4f4f4;
      margin-bottom: 16px;
      padding: 18px 20px 0 25px!important;
      border-radius: 10px;

      &:first-child {
        border-top: none;
      }

      &:last-child {
        border-bottom: 1px solid $global-grey-bg;
      }

      .Options {
        position: absolute;
        top: 20px;
        right: 5px;
      }

      .Meta.Meta-Discussion {
        &.tag-container {
          margin-top: 0;
          margin-left: 0;

          .MItem {
            display: none;
          }

          .Tag {
            margin-bottom: 12px;
          }
        }

        &.status-container {
          .MCount,
          .Tag, .MiddleDot {
            display: none;
          }

          .MItem.Category {
            display: none;

            &::before {
              content: none;
            }
          }

        }

        &.view-comment-container {
          .MItem:not(.MCount,.MiddleDot),
          .Tag {
            display: none;
          }

          .MCount {
            position: relative;

            &::after {
              content: none;
            }

            &.CommentCount {
              &::after {
                content: none;
              }
            }
          }
        }
      }
    }
  }
}
