.Box.BoxCategories,
.BoxFilter.BoxDiscussionFilter {
  margin: 19px 0 !important;

  h4 {
    @include barlow-semibold;

    font-size: 21px;
    line-height: 24px;
    text-transform: uppercase;
    color: $global-color_black_light;
    padding: 0;
    margin-top: 35px;
  }

  ul.PanelInfo.PanelCategories,
  ul.FilterMenu {
    li {
      margin: 19px 0 !important;

      &.Active {
        background-color: $global-grey-bg;
        border-radius: 15px;
      }

      &.Depth2 {
        margin-left: 20px !important;
      }

      &.Heading {
        color: $global-color_black_light;
        font-size: 16px;
        font-weight: 700;
        padding: 0;
      }

      a {
        height: 26px;
        padding: 2px 22px;
        font-size: 16px;

        span {
          font-size: 16px;
          line-height: 26px;

          &.Aside {
            line-height: 12px;

            .Number,
            & > .Count {
              line-height: 12px;
              color: #ffffff;
              font-size: 10px;
              font-weight: 400;
              background: $global-color_black;
              border-radius: 9px;
            }

            & > .Count {
              padding: 1px 5px;
            }

            .Number {
              padding: 0;
            }
          }
        }
      }
    }
  }
}

.Box.BoxCategories {
  h4 {
    @include barlowcondensed-medium;
    color: $global-color_black !important;
    font-size: 24px !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;

    padding-left: 22px;
  }
}

@media screen and (max-width: 768px) {
  .Panel-main .Box.BoxCategories,
  .Box.BoxCategories,
  .BoxFilter.BoxDiscussionFilter {
    h4 {
      @include barlow-semibold;

      font-size: 21px;
      line-height: 24px;
    }
  }
}
