.Box.BoxCategories,
.BoxFilter.BoxDiscussionFilter {
  h4 {
    @include barlow-semibold;

    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: $global-color_black_light;
  }

  ul.PanelInfo.PanelCategories,
  ul.FilterMenu {
    li {
      margin: 7px 0 !important;

      &.Active {
        background-color: $global-grey-bg;
        border-radius: 15px;
      }

      &.Depth2 {
        margin-left: 20px !important;
      }

      &.Heading {
        color: $global-color_black_light;
        font-size: 16px;
        font-weight: 700;
      }

      a {
        height: 30px;
        padding: 0 22px;
        font-size: 16px;

        span {
          font-size: 16px;
          line-height: 26px;

          &.Aside {
            line-height: 12px;

            .Number,
            & > .Count {
              line-height: 12px;
              color: #ffffff;
              font-size: 10px;
              font-weight: 400;
              background: $global-color_black;
              border-radius: 9px;
            }

            & > .Count {
              padding: 1px 5px;
            }

            .Number {
              padding: 0;
            }
          }
        }
      }
    }
  }
}
