.FooterContainer {
  position: relative;
}
.FooterContainer::after{
  content: "";
  clear: both;
  display: block;
}

.Frame-footer {

    .Footer {
      color: white;
      font-family: $global-body_fontFamily;
      background-color: #2a2a2a;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;

      .FooterWrapper {
        max-width: 1280px;
        padding: 0px 0px;
        margin: auto;

        @media (max-width: 767px) {
          margin-left: 0;
          margin-right: 0;
        }

        @media (max-width: 1200px) {
          max-width: none;
        }
      }

      .Footer-logo {
        display: flex;
        text-align: center;
        justify-content: center;
        padding: 30px 0px;


        @media (max-width: 767px) {
          padding-bottom: 15px;
          svg{
            width: 53px;
          }
        }
      }

      .Footer-Menu-Container {
        margin-left: 0px;
        margin-right: 0px;
        align-items: normal;
        display:grid;
        grid-template-columns: repeat(6,1fr);
        gap: 20px;

        .Footer-Column {
          margin: 0px 0px;
          a:hover {

          }
          &.col-span-2 {
            ul {
              column-count: 2;
            }
          }

          @media (max-width: 767px) {
            flex-grow: 2;
            margin-top: 18px;
            &:first-child {
              margin-top: 0;
            }
            ul {
              column-count: 2;
            }
          }
        }
        @media (max-width: 767px) {
          flex-wrap: wrap;
        }
    }

      .Footer-Menu-Title {
        border-bottom: 2px solid #555;
        font-weight: 500;
        margin-bottom: 10px;
        text-transform: uppercase;
      }

      .Footer-Menu-List {

      }

      .Footer-Menu-List-Item {
        a {
          color: $global-grey-bg;
          font-size: 14px;
          line-height: 21px;
          &:hover {
            color: $global-grey-bg;
          }
        }
      }

      .Footer-Share-Container {
        li {
          width: 26px;
          height: 26px;
          line-height: 26px;
          border-radius: 100%;
          float: left;
          margin-left: 5px;

          a {
            color: $global-grey-bg !important;
            text-decoration: none;
            &:hover {
              color: $global-grey-bg
            }
          }
        }

        @media (max-width: 767px) {
            display: flex;
            justify-content: center;
            order: 1;
            width: 100%;
        }
      }
      .Footer-Copyright-Container {
        flex-wrap: wrap;
        color:  $global-color_grey_dark;;
        margin-top: 40px;
        border-top: 2px solid #555;
        padding: 22px 0px 21px 0px;

        .Footer-Copyright {

          li {
            display: inline;
            margin-right: 0px;

            a {
              margin-left: 20px;
              font-size: 14px;
              color: $global-color_grey_dark;
              text-decoration: none;
              &:hover{
                color: $global-color_grey_dark;
              }
            }
            @media (max-width: 767px) {
              font-size: 11px;
              margin-right: 0;
              a {
                font-size: 11px;
              }
              &:nth-child(2) {
                left: 50%;
                position: absolute;
                transform: translateX(-50%);
              }
            }
          }

          @media (max-width: 768px) {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            order: 2;
            width: 100%;
          }
        }

        @media (max-width: 767px) {
          border-top: 0;
          margin-top: 20px;
        }
      }
    }
}
