.Section-GroupList  {
  .MainContent  {
    .H {
      text-align: left;
    }
  }
}
.Group {
  font-family: $global-body_fontFamily !important;
  .Group-Description {
      color: $global-color_black_light;
      font-size: $global-large_fontSize;
      margin-bottom: 33px;
     a {
       color: $global-blue;
     }
     > br {
       line-height: 0px;
       display: inline-block;
       content: '';
    }
  }

  .Group-Header {
    .Group-Info {
      padding-left: 0px;

      .Table {
        width:  calc(100% + 46px);
        display: table;
        border-collapse: separate;
        border-spacing: 23px 0px;
        margin-left: -23px;
        margin-right: -23px;

        .TableRow {
          border: none;
          .TableCell {
            width: 50%;
            padding: 10px;
            color: $global-color_black_light;
            font-size: $global-medium_fontSize;
            display:table-cell;
            background-clip: padding-box;
            border-top: 1px solid #D4D4D4;
            .MLabel {
              min-width: 90px;
              white-space: nowrap;
              display: inline-block;
            }
            .MValue {
              color: $global-color_grey;
              font-weight: $global-medium_fontWeight;
            }
          }
        }
        .TableRow.Last {
          .TableCell {
            border-bottom: 1px solid #D4D4D4;
          }
        }

      }
    }
  }
}

@media screen and (max-width: 768px) {
  .Group {
    .Group-Header {
      .Group-Info {
        padding-left: 0px;
        .Table {
          width:  100%;
          margin: 0px;
          border-spacing:0px;

          .TableRow {
            border: none;
            .TableCell {
              width: 100%;
              display:block;
              background-clip: padding-box;
              border-top: 1px solid #D4D4D4;
              .MLabel {
                min-width: 90px;
                white-space: nowrap;
                display: inline-block;
              }
              .MValue {
                color: $global-color_grey;
                font-weight: $global-medium_fontWeight;
              }
            }
          }
          .TableRow.Last {
            .TableCell {
              border-bottom: none;
              &:last-child {
                border-bottom: 1px solid #D4D4D4;
              }
            }
          }

        }
      }
    }
  }
}