.MeButton.FlyoutButton.MeButton-user.TopcoderMeButton {
  width: fit-content;
  .Username {
    line-height: 28px;
    vertical-align: middle;
    margin: 0px 10px 0px 5px;
    font-size: 14px;
  }

  .icon-chevron-down {
    font-weight: normal;
    font-size: 10px;
  }
}


