.DataListWrap,
.Content.MainContent,
.CommentsWrap {
  .BeforeCommentHeading {
    margin-bottom: 0px;
  }

  h2.CommentHeading {
    @include barlow-bold;

    color: $global-color_black_light;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
  }

  .DataList.DataList-Search,
  .DataList.CategoryList,
  .DataList.GroupList,
  .MessageList.DataList.Comments {
    li.Item {
      border-bottom: none;
      border-top: none;
      background-color: $global-grey-very-dark-bg;
      margin-bottom: 16px;
      padding: 18px 20px 0 25px !important;
      border-radius: 10px;

      .PhotoWrap {
        top: 18px;
        left: 26px;
      }

      .Item-Header.CommentHeader {
        padding-top: 0;
        min-height: 0;

        .AuthorWrap {
          max-width: 100%;
          display: flex;
          font-family: $global-body_fontFamily;
          font-size: $global-medium_fontSize;
        }
        .Username {
          color: $global-color_black_light;
          font-size: 14px;
          font-weight: 500;
          line-height: 16px;
        }


        .Meta.CommentMeta.CommentInfo {
          display: block;
        }
      }

      .Message {
        font-family: $link-body_fontFamily;
      }

      .Message.userContent {
        font-size: $global-medium_fontSize;
      }

      &.CategoryHeading {
        background-color: transparent;
        padding: 0 !important;
        margin: 41px 0 15px;
        color: $global-color_grey_very_dark;
        font-size: 34px;
        font-weight: 400;
        line-height: 38px;

        div {
          @include barlowcondensed-medium;
          color: $global-color_grey_very_dark;
        }

        &::before {
          content: none;
        }
      }
    }
  }

  .DataList.DataList-Search {
    li.Item {
      padding: 18px 20px 1px 25px !important;
    }
  }

  .DataList.CategoryList, .DataList.GroupList {
    li.Item {
      padding: 18px 20px 17px 25px !important;

      .Title {
        color: $global-color_black_light;
        margin-bottom: 14px;
      }

      .PhotoWrap {
        top: 0;
        left: 0;
      }

      .LatestPostTitle {
        color: $global-color_black_light;
        font-weight: 500;
      }
    }
  }
}

.DataList.GroupList {
  li.Item {
    .Description {
      font-family: $global-body_fontFamily;
      color: $global-color_grey;
      font-size: 13px;
    }
  }
}

.MessageList.Discussion {
  .Item.ItemDiscussion {
    .Item-BodyWrap {
      .Item-Body {
        .Message.userContent {
          font-family: $global-body_fontFamily;
          font-size: $global-large_fontSize;
        }
      }
    }
  }
}

.Message.userContent {
  a {
    color: $global-blue;
  }
}




.ReactButton.Quote.js-quoteButton {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.44px;
  line-height: 15px;
}

.MessageForm.CommentForm.FormTitleWrapper {
  .H {
    margin-bottom: 27px;
  }
  h2 {
    text-transform: uppercase;
    color: $global-color_black_light;
    font-family: $global-heading_fontFamily2;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
  }
}


.FormTitleWrapper {
  .Buttons {

    .Back {
      margin-right: 20px !important;
      * {
        color: $global-blue;
        font-family: $global-body_fontFamily;
      }
    }
  }
}

// mobile
@media screen and (max-width: 768px) {
  .DataListWrap,
  .Content.MainContent,
  .CommentsWrap {
    .DataList.DataList-Search,
    .DataList.CategoryList,
    .MessageList.DataList.Comments {
      li.Item {
        .PhotoWrap {
         // left: 0;
        }

        .AuthorWrap {
          margin-top: 3px;
        }

        &.CategoryHeading {
          background-color: transparent;
          margin: 0 !important;
          padding: 41px 0 15px !important;
          color: $global-color_black_light;

          div {
            color: $global-color_black_light;
          }
        }
      }
    }
  }

  .MessageList.Discussion {
    .Discussion {
      .Item-Header {
        .AuthorWrap {
          margin-top: 3px;
        }
      }
    }
  }

  .DataListWrap,
  .Content.MainContent,
  .CommentsWrap {
    .DataList.DataList-Search {
      li.Item {
        &:first-child {
          border-top: 1px solid $global-grey-bg;
        }
        &:last-child {
          padding-bottom: 16px !important;
        }
        h3 {
          margin-bottom: 2px;
          line-height: 30px;

          a {
            color: $global-color_black_light;
            font-size: 20px;
          }
        }

        .Item-Body.Media {
          margin-bottom: 0;

          .Media-Body {
            * {
              font-size: 14px;
            }

            .Meta {
              margin-top: 0;
              height: 22px;
            }

            .Summary {
              margin-top: 2px;
              height: 22px;
            }
          }
        }
      }
    }
  }
}
