.SearchForm,
.SearchBox {
  form {
    & > div {
      .InputBox {
        border-radius: 30px;
        height: 40px;
        font-size: 16px;
        padding-right: 56px;
        padding-left: 20px;
        font-family: $global-body_fontFamily;
      }

      .InputBox.js-search {
        border: 1px solid #aaa;
      }

      input.Button:hover,
      input.Button {
        height: 38px !important;
        width: 56px !important;
        background: $global-grey-bg !important;
        border-radius: 30px !important;
        margin: 1px;
      }

      &::after {
        color: white !important;
        width: 56px !important;
        font-size: 18px !important;
        top: 1px !important;
      }
    }
  }
}

.Panel.Panel-main {
  .SearchBox {
    margin-bottom: 24px;
  }
}



@media screen and (max-width: 768px) {
  .SearchBoxMobile {
    .SearchBox {
      margin-bottom: 8px;
    }
  }
}
