.SearchForm,
.SearchBox {
  form {
    & > div {
      .InputBox {
        border-radius: 30px;
        height: 40px;
        font-size: 16px;
        padding-right: 56px;
        padding-left: 20px;
        font-family: $global-body_fontFamily;

        &:focus,
        &:active {
            border-color: $global-color_grey_dark;
        }
      }

      .InputBox.js-search {
        border: 1px solid $global-color_grey_dark;
      }

      input.Button:hover,
      input.Button {
        height: 38px !important;
        width: 56px !important;
        background: $color-turquoise-tc-turquoise-dark-3 !important;
        border-radius: 20px !important;
        margin: 1px;
      }

    }
  }
}

.Panel.Panel-main {
  .SearchBox {
    margin-bottom: 24px;
  }
}



@media screen and (max-width: 768px) {
  .SearchBoxMobile {
    .SearchBox {
      margin-bottom: 8px;
    }
  }
}
