.isMobile.Section-GroupList , .isMobile.Section-Group {
  .Frame-body {
    .Frame-content {
      .Frame-details {
        .Frame-row-main {
          aside.Panel.Panel-main {
            display: none;
          }
        }
      }
    }
  }
}

.Section-GroupList .MainContent .H {
  text-align: left;
}

.Group-MembersPreview {
  .PhotoWrap.PhotoWrap.PhotoWrap img {
    margin: 0;
    width: 42px;
    height: 42px;
  }
}

.Group-Header.NoBanner {
  min-height: 1px;
  display: flex;
  .Group-Header-Info {
    padding-left: 0;
  }
}

Group-Header.HasBanner {
  .Group-Header-Info {
    margin: 20px;
  }
}

@media screen and (max-width: 768px) {
  .Section-GroupList .DataList .Item .Options {
    margin-top: 0px;
  }

  .DataList.GroupList {
    li.Item {

      .Meta.Meta-Group {

        &.status-container {
          .MCount,
          .Tag, .MiddleDot {
            display: none;
          }
        }

        &.view-comment-container {
           margin-top: 0px;
           float: right;

          .MItem:not(.MCount,.MiddleDot),
          .Tag {
            display: none;
          }

          .MCount {
            position: relative;

            &::after {
              content: none;
            }

            &.CommentCount {
              &::after {
                content: none;
              }
            }
          }
        }
      }
    }
  }
}